%h1="Welcome"
%h2="Users"
- @users.each do |u|
  %p=link_to u.email, user_path(u)
%h2="Book Lists"
- @book_lists.each do |bl|
  %p=link_to "#{bl.title}, by #{bl.user.email}", bl
%h2="Books"
- @books.each do |b|
  %p=link_to b.title, b
